parameters:
	ignoreErrors:
		-
			message: "#^Method loophp\\\\RepositoryMonadicHelper\\\\Doctrine\\\\MonadicStandardRepository\\:\\:getClassName\\(\\) should return class\\-string\\<R\\> but returns string\\.$#"
			count: 1
			path: src/Doctrine/MonadicStandardRepository.php
